$color-Gryffindor--red:#CE332C;
$color-Gryffindor--gold: #EFB838;
$color-Gryffindor--darkred:#AA3147;
$color-Hufflepuff--yellow:#FFD03D;
$color-Hufflepuff--black:#40423D;
$color-Hufflepuff--blueish:rgb(0, 1, 22);
$color-Ravenclaw--blue:#5590CC;
$color-Ravenclaw--bronze:#555148;
$color-Ravenclaw--black:#131B23;
$color-Slytherin--green:#1D5D4F;
$color-Slytherin--silver:#CED2D1;
$color-Slytherin--brightgreen:#3F913B;
$color-Hogwarts--darkgrey: #474D73;
$color-Hogwarts--lightgrey:#545D8F;
$color-Hogwarts--dimyellow:#EDC663;
$color-Hogwarts--lightwhite:#F1F7ED;
$color-Hogwarts--darkblack:#1A1423;

$font-text: 'Averia Serif Libre', cursive;
$font-title: 'Cinzel Decorative', cursive;
