.main-header--container {
  height: 400px;
  width:100%;
  position: relative;
  overflow: hidden;
  background-color: $color-Hogwarts--darkblack;
  z-index: 0;
}
.main-header--hogwarts {
	width: 100vw;
  height: 100%;
  top:50px;
	position: absolute;
	background-size: cover;
  background-position: top center;
  z-index: 5;
}
.main-header--logo{
  width: 330px;
  height:120px;
  top:280px;
  left:50%;
  transform: translateX(-50%);
  position: absolute;
	background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  z-index: 10;
}
.main-header--moon{
  height: 60px;
  width: 60px;
  background-color:$color-Hogwarts--dimyellow;
  border-radius: 50%;
  position: absolute;
  top:20%;
  left:25%;
  box-shadow: 
    14px 10px 80px $color-Hogwarts--dimyellow,
    -10px -14px 80px $color-Hogwarts--dimyellow,
    -10px -5px 30px $color-Hufflepuff--yellow,
    5px 10px 30px $color-Hufflepuff--yellow;
}
